
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="alert-info">Ovation</h1>
<div class="jumbotron">
    <div class="container">
        <h1 class="bg-warning">Human resources</h1>
        <p class="alert-success">
            Human resources is the set of people who make up the workforce of an organization, business sector, industry, or economy. A narrower concept is human capital, the knowledge and skills which the individuals command. Similar terms include manpower, labor, personnel, associates or simply: people.
        </p>
    </div>
</div>

